<html>

	<head>
		<meta charset="UTF-8">
    	<title>Hand Position</title>
    	<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    	<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/position_follower.css">
		<script type="text/javascript" src="../static/js/rostopic_position.js"></script>
	</head>
	<body>
		<img id="mapa" src="../static/img/map/0.png">
		<div id="za_hando" class="za_hando">
			<img id="hando" src="../static/img/hand/0.png">
		</div>
		<input id="starto" type="button" name="start" value="Iniciar Juego" onclick="ws_connect()">
	</body>

</html>
