<html>

	<head>
		<meta charset="UTF-8">
    	<title>Hand Position</title>
    	<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    	<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/position_follower.css">
		<script type="text/javascript" src="../static/js/rostopic_position.js"></script>
	</head>
	<body>
		<img id="mapa" src="../static/img/map/chile.png">
		<div id="za_hando" class="za_hando">
			<img id="hando" src="../static/img/hand/0.png">
		</div>
		<img id="alpha" class="alpha" src="../static/img/bg.png">
    	<button  id="starto" onclick="ws_connect()"><img class="start_img" src="../static/img/start.png"></button>
	</body>

</html>
