<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pic Selecction</title>
	<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
   	<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/pics.css">
	<script type="text/javascript" src="../static/js/pics.js"></script>
</head>
<body>
	<img id="backg" class="backg" src="../static/img/card/notebook.png">
	<button id="btn_1" class="btn"><img id="img_1" class="image" src="../static/tmp/0.jpg"></button>
	<button id="btn_2" class="btn"><img id="img_2" class="image" src="../static/tmp/1.jpg"></button>
	<button id="btn_3" class="btn"><img id="img_3" class="image" src="../static/tmp/2.jpg"></button>
	<button id="btn_4" class="btn"><img id="img_4" class="image" src="../static/tmp/3.jpg"></button>
	<div id="za_hando" class="za_hando">
		<img id="hando" src="../static/img/hand/0.png">
	</div>
	<img id="alpha" class="alpha" src="../static/img/bg.png">
    <button  id="starto" onclick="ws_connect()"><img class="start_img" src="../static/img/start.png"></button>
</body>
</html>