<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pic Selecction</title>
	<link rel="stylesheet" type="text/css" href="../static/css/pics.css">
</head>
<body>
	<button id="btn_1" class="btn"><img id="img_1" class="image" src="../static/img/animals/ranita.jpg"></button>
	<button id="btn_2" class="btn"><img id="img_2" class="image" src="../static/img/animals/none.jpg"></button>
	<button id="btn_3" class="btn"><img id="img_3" class="image" src="../static/img/animals/none.jpg"></button>
	<button id="btn_4" class="btn"><img id="img_4" class="image" src="../static/img/animals/none.jpg"></button>
</body>
</html>